{
	"env": { "browser": true, "es2020": true },
	"extends": [
		"plugin:react/recommended",
		"plugin:react/jsx-runtime",
		"plugin:react-hooks/recommended",
		"prettier"
	],
	"overrides": [
		{
			"files": ["src/**/*.test.jsx", "src/setupTests.js"],
			"env": { "vitest/env": true },
			"extends": ["plugin:testing-library/react", "plugin:vitest/recommended"]
		}
	],
	"parserOptions": { "ecmaVersion": "latest", "sourceType": "module" },
	"settings": { "react": { "version": "18.2" } },
	"plugins": ["react-refresh"],
	"rules": {
		"react-refresh/only-export-components": [
			"warn",
			{ "allowConstantExport": true }
		]
	}
}
