{
  "extends": [
    "plugin:n/recommended"
  ],
  "ignorePatterns": [
    "/static/"
  ],
  "overrides": [
    {
      "files": [
        "*.test.js"
      ],
      "rules": {
        "n/no-unpublished-import": "off"
      }
    }
  ],
  "rules": {
    "no-console": "warn"
  }
}
