name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  nodejs:
    strategy:
      matrix:
        node: [20.9, 20, 22]
        os: [ubuntu-latest]
        include:
          - node: 22
            os: windows-latest
    runs-on: ${{ matrix.os }}
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: keepitsecret
          POSTGRES_USER: testdb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    env:
      DATABASE_URL: postgres://testdb:keepitsecret@localhost:5432/testdb
    steps:
      - uses: textbook/take-action@nodejs
        with:
          node-version: ${{ matrix.node }}
      - uses: textbook/take-action@playwright
      - run: npm run lint
      - run: npm run test:cover
        env:
          FORCE_COLOR: true
      - run: npm run migration up
      - run: npm run e2e
      - run: npm run e2e:dev
  docker:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: keepitsecret
          POSTGRES_USER: testdb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: textbook/take-action@nodejs
        with:
          node-version: 20
      - uses: textbook/take-action@playwright
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v5
        with:
          load: true
          push: false
          tags: textbook/starter-kit:v2
      - id: env-file
        run: |
          echo 'DATABASE_URL=postgres://testdb:keepitsecret@localhost:5432/testdb' >> "$ENV_FILE"
          echo 'LOG_LEVEL=debug' >> "$ENV_FILE"
          echo 'PORT=4321' >> "$ENV_FILE"
          echo 'NODE_ENV=docker' >> "$ENV_FILE"
          echo "file=$ENV_FILE" >> "$GITHUB_OUTPUT"
        env:
          ENV_FILE: docker.env
      - id: docker-run
        run: |
          echo "id=$(docker run \
            --detach \
            --env-file ${{ steps.env-file.outputs.file }} \
            --init \
            --network 'host' \
            textbook/starter-kit:v2)" >> $GITHUB_OUTPUT
      - run: npx --yes wait-on --log --timeout 30000 http-get://localhost:4321
      - run: npm run e2e
        env:
          PLAYWRIGHT_BASE_URL: http://localhost:4321
      - if: always() && steps.docker-run.outputs.id
        run: docker logs ${{ steps.docker-run.outputs.id }}
