name: Node.js CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    if: github.event_name != 'push' || !contains(github.event.head_commit.message, '[skip ci]')
    steps:
    - uses: actions/checkout@v2
    - run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)
      id: nvmrc
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ steps.nvmrc.outputs.NODE_VERSION }}
        cache: npm
    - run: ./bin/check-node.sh
    - run: npm ci
      env:
        CYPRESS_INSTALL_BINARY: 0
    - run: npm run lint
    - run: npm run test
    - uses: docker/build-push-action@v2
      with:
        build-args: |
          NODE_RELEASE=${{ steps.nvmrc.outputs.NODE_VERSION }}
        context: ./
        file: ./Dockerfile
        push: false
        tags: textbook/starter-kit
  e2e:
    runs-on: ubuntu-20.04
    needs: build
    strategy:
      matrix:
        node: [ '12', '14' ]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
        cache: npm
    - run: npm ci
    - run: npm run e2e
    - run: npm run e2e:dev
  deploy-heroku:
    runs-on: ubuntu-20.04
    if: github.ref == 'refs/heads/main'
    needs: e2e
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.6.8
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: starter-kit-ci
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
  deploy-cf:
    runs-on: ubuntu-20.04
    if: github.ref == 'refs/heads/main'
    needs: e2e
    steps:
    - uses: actions/checkout@v2
    - run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)
      id: nvmrc
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ steps.nvmrc.outputs.NODE_VERSION }}
        cache: npm
    - run: npm ci
      env:
        CYPRESS_INSTALL_BINARY: 0
    - run: npm run build
    - uses: d3sandoval/cloud-foundry-action@1.1.1
      with:
        args: push
      env:
        CF_API: https://api.run.pcfone.io
        CF_PASSWORD: ${{ secrets.CF_PASSWORD }}
        CF_TARGET_ORG: pivot-jsharpe
        CF_TARGET_SPACE: development
        CF_USERNAME: ${{ secrets.CF_USERNAME }}
